<div class = "center jumbotron">
    <h1>Welcome to Storiez!</h1><br>
    
    <h4>A place to read, share and store memories from friends and family</h4>

    <br>

    <h5><%= link_to 'Sign Up', new_user_registration_path, class: "btn btn-lg btn-default" %><h5>  <h5><%= link_to 'Log in', new_user_session_path, class: "btn btn-lg btn-default"%></h5>
    </div>


