<br>

<h1>Welcome to Stories!</h1><br><hr>

<form>
    <div class="form-group">
        <label for="inputEmail">Email</label>
        <input type="email" class="form-control" id="inputEmail" placeholder="Email">
    </div>
    <div class="form-group">
        <label for="inputPassword">Password</label>
        <input type="password" class="form-control" id="inputPassword" placeholder="Password">
    </div>
    <div class="checkbox">
        <label><input type="checkbox"> Remember me</label>
    </div>
    <button type="submit" class="btn btn-primary"><%= link_to 'Log in', user_session_path %></button>
</form>
<br>
<h5><%= link_to 'Sign Up', new_user_registration_path %><br><h5>

<!-- <h5><%= link_to 'Sign out', destroy_user_session_path, :method => :delete %><br><h5> -->

